#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#menu-tile {
  background: url('../images/menu.jpg') no-repeat center center;
}

#specials-tile {
  background: url('../images/specials.jpg') no-repeat center center;
}

#map-tile {
  background: url('../images/map.jpg') no-repeat center center;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
